<%= simple_form_for(@cocktail) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.input :photo %>
    <%= form.input :photo_cache, as: :hidden %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>


