<!-- <body class= "ingredient"> -->
  <h1>New Cocktail recipe</h1>

  <div class="container">
    <h1><%= @cocktail.name %></h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div>
          <%= simple_form_for [@cocktail, @dose] do |f| %>
          <div class="field">
            <%= f.input :description %>
            <%= f.association :ingredient %>
          </div>
          <p class="create-button"><%= f.submit "create new recipe", class: "btn btn-primary" %></p>
          <% end %>
        <p class="create-button"><%= link_to 'Back to all cocktails', cocktails_path, class: "btn btn-primary" %><p>
        </div>
      </div>
    </div>
  </div>
</body>



